.navbar {
    padding-bottom: 120px;
}

.navLinks {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navName {
    font-family: 'Grand Hotel', cursive;
    font-size: 80px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-item {
    display: flex;
    justify-content: right;
}